

body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;

}

.inicio-web {

    display: flex; /*Colocamos un elemnto al lado de otro*/
    justify-content: space-between; /*Separamos y colocamos en una esquina de la web cada elemento*/
    align-items: center; /*Con esta funcion podemos centrar ambos elementos y ponerlo a la misma altura*/
    

}

.nombre-author {

    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 30px;
    color: rgb(243, 247, 250);
}

ul {

    display: flex;


}

li {

    margin-right: 20px;
    list-style: none;
    margin-right: 20px;
}

.navv {

    text-decoration: underline;
}

a {

    text-decoration: none;
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
}

.pfinal {
    margin-bottom: 40px;
}

.titular {

    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 100px;
    margin: 0;
    color: white;
    margin-top: 200px;
    font-family: serif;
    text-shadow: 1px 1px 10px black;

}

.titular h2 {
    font-family: cursive;
    font-size: 30px;
    margin-bottom: 30px;
    color: rgb(155, 197, 234);
    text-shadow: 10px 20px 100px black;

}
.titular a {

    text-decoration: underline;
}

header {

    background-image: url(img/Diseño\ sin\ título.jpg);
    height: 100vh;
    background-size: cover;

}

.contenedor {

    max-width: 1280px;
    width: 90%;
    margin: auto;
}


/*Empezamos con sobre mi */

h3 {

    text-align: center;
    font-size: 50px;

}

.cons {

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cons img {

    width: 300px;
}

.parrafo-boton {

    width: 45%;
}

.parrafo-boton p {

    font-size: 18px;
}


/*SERVICIOS*/

.contenedor-servicios {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.servicio {

    width: 24%;
    padding: 30px;
    border-radius: 10px;
    color: white;
    margin-bottom: 100px;
    box-shadow: 1px 1px 10px rgb(40, 39, 39);
}

.violeta {

    background-color: #1d3d2e;

}

.celeste {
    background-color: rgb(115, 174, 155)
}

.servicio h4 {

    font-size: 28px;
    text-align: center;
}

.servicio p {

    font-size: 18px;
}

.contenedor3 {

    margin-top: 150px;
}

#sobre-mi {
    margin-top: 100px;
}


.contenedor-imagenes-pro {

    display: flex;
    justify-content: space-around;

}

.img-pro {

    width: 700px;
    height: auto;
    
}

.contenedor-proyectos h3 {

    margin-top: 200px;
    margin-bottom: 100px;
}

/* Estilo para la sección de contacto */
.contacto {
    margin-left: 40px;
    text-align: center;
    color: black;
}
.contacto h2 {

    font-size:40px;
    color: black;
    margin-bottom: 30px;
}
.redes-sociales{
    display: flex;
    justify-content: center;
    
}
.redes-sociales a img {

    width: 70px;
    height: auto;
}




.copyright {
    margin-top: 20px;
    font-size: 14px;
    color: #a39e9e;
    background-color: black;
    padding: 20px;
    text-align: center;
}


.comentario p {

    margin-bottom: 150px;
}

